<div class="menu-content">
  <div class="info-block">

    <div
      class="avatar emulator"
      mat-card-avatar
      *ngIf="userData?.photoURL; else avatarEmulator"
      [style.background-image]="'url(' + userData?.photoURL + ')'"
      [style.background-size]="'cover'">
    </div>

    <ng-template #avatarEmulator>
      <div class="avatar emulator">
        <mat-icon>person</mat-icon>
      </div>
    </ng-template>

    <div class="name-section">
      <span>{{userData?.displayName}}</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="profile">
    <button mat-menu-item (click)="openUserProfile()">
      {{'MAIN.MENU.PROFILE' | translate}}
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="logout" (click)="authService.signOut()">
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>{{'MAIN.MENU.LOGOUT' | translate}}</span>
    </button>
  </div>
</div>

