<div class="menu-content">
  <div class="info-block">
    <div class="avatar emulator">
      <mat-icon>person</mat-icon>
    </div>
    <div class="name-section">
      <span>{{userName | async}}</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="profile">
    <button mat-menu-item>
      {{'MAIN.MENU.PROFILE' | translate}}
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="logout" (click)="authService.signOut()">
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>{{'MAIN.MENU.LOGOUT' | translate}}</span>
    </button>
  </div>
</div>

