<table *ngIf="meetings.data.length > 0" mat-table [dataSource]="meetings">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>{{'COMMON.DATE' | translate}}</th>
    <td mat-cell *matCellDef="let meeting">{{meeting.date | date: 'dd.MM.yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="roomName">
    <th mat-header-cell *matHeaderCellDef>{{'COMMON.ROOM' | translate}}</th>
    <td mat-cell *matCellDef="let meeting">{{meeting.roomName}}</td>
  </ng-container>

  <ng-container matColumnDef="timePeriod">
    <th mat-header-cell *matHeaderCellDef>{{'COMMON.TIME' | translate}}</th>
    <td mat-cell *matCellDef="let meeting">
      {{meeting.start | date: 'HH : mm'}} - {{meeting.end | date: 'HH : mm'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>{{'COMMON.DESCRIPTION' | translate}}</th>
    <td mat-cell *matCellDef="let meeting">{{meeting.eventDescription}}</td>
  </ng-container>

  <ng-container matColumnDef="creatorName">
    <th mat-header-cell *matHeaderCellDef>{{'MEETINGS.CREATOR_NAME' | translate}}</th>
    <td mat-cell *matCellDef="let meeting">{{meeting.creatorName}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [length]="meetings.data.length"
  pageSize="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
></mat-paginator>
