<table *ngIf="meetings.data.length > 0" mat-table [dataSource]="meetings">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>{{'COMMON.DATE' | translate}}</th>
    <td class="date" mat-cell *matCellDef="let meeting">{{meeting.date | date: 'dd.MM.yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="roomName">
    <th mat-header-cell *matHeaderCellDef>{{'COMMON.ROOM' | translate}}</th>
    <td mat-cell *matCellDef="let meeting">{{meeting.roomName}}</td>
  </ng-container>

  <ng-container matColumnDef="timePeriod">
    <th mat-header-cell *matHeaderCellDef>{{'COMMON.TIME' | translate}}</th>
    <td class="period" mat-cell *matCellDef="let meeting">
      <span>{{meeting.start | date: 'HH : mm'}}</span>
      <span> - </span>
      <span>{{meeting.end | date: 'HH : mm'}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th class="description" mat-header-cell *matHeaderCellDef>{{'COMMON.DESCRIPTION' | translate}}</th>
    <td class="description" mat-cell *matCellDef="let meeting">{{meeting.eventDescription}}</td>
  </ng-container>

  <ng-container matColumnDef="creatorName">
    <th mat-header-cell *matHeaderCellDef>{{'MEETINGS.CREATOR_NAME' | translate}}</th>
    <td mat-cell *matCellDef="let meeting">{{meeting.creatorName}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="actions-cell" mat-cell *matCellDef="let reservation">
      <div *ngIf="authService.userData.uid === reservation.creatorId" class="actions">
        <button (click)="editMeeting(reservation); $event.stopPropagation()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="cancelMeeting(reservation); $event.stopPropagation()"
                mat-icon-button color="warn" [matTooltip]="'ROOMS_MANAGEMENT.CANCEL_MEETING' | translate">
          <mat-icon>free_cancellation</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [length]="meetings.data.length"
  pageSize="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
></mat-paginator>
