<mat-toolbar color="primary">
  <div class="toolbar-content">
    <button mat-icon-button (click)="navigationToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="art-icon">
      <span>{{'MAIN.HEADER' | translate}}</span>
    </div>

    <div class="user-tools">
      <div>
        <button mat-icon-button (click)="switchLang()">
          <span>{{translationKey | translate}}</span>
        </button>
      </div>

      <div *ngIf="user$ | async as userData">
        <div
          class="avatar"
          mat-card-avatar
          [matMenuTriggerFor]="userMenu"
          *ngIf="userData.photoURL; else avatarEmulator"
          [style.background-image]="'url(' + userData.photoURL + ')'"
          [style.background-size]="'cover'">
        </div>
        <ng-template #avatarEmulator>
          <div class="avatar emulator" [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
          </div>
        </ng-template>
      </div>
      <mat-menu #userMenu class="user-menu">
        <app-menu [userData]="user$ | async"></app-menu>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
