<div mat-dialog-title>
  <span>{{'COMMON.CANCEL-CONFORMATION' | translate}}</span>
</div>

<div mat-dialog-content>
<!--  <mat-form-field appearance="outline">-->
<!--    <mat-label>{{'COMMON.CANCEL-REASON' | translate}}</mat-label>-->
<!--    <input [formControl]="reason" matInput type="text" autocomplete="off">-->
<!--  </mat-form-field>-->
</div>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">
    {{'COMMON.CANCEL' | translate}}
  </button>
  <button color="warn" mat-raised-button [mat-dialog-close]="true">
    {{'COMMON.OK' | translate}}
  </button>
</div>
