<mat-card class="rooms-management">
  <mat-card-header>
    <mat-card-title>
      <div class="header-content">
        <mat-icon>meeting_room</mat-icon>
        <span>{{'ROOMS_MANAGEMENT.TITLE' | translate}}</span>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-form-field appearance="outline" class="search">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="searchControl" minlength="3">
    <mat-hint>{{'ERRORS.3_MINIMUM_CHARS' | translate}}</mat-hint>
  </mat-form-field>

  <mat-card-content>
    <mat-tab-group #tabGroup>
      <mat-tab [label]="'ROOMS_MANAGEMENT.TABS.LIST' | translate">
        <app-rooms-list [searchControl]="searchControl"></app-rooms-list>
      </mat-tab>
      <mat-tab [label]="'ROOMS_MANAGEMENT.TABS.ADD' | translate">
        <app-add-new-room (tabIdxChanged)="switchTab($event)"></app-add-new-room>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
