:host {
  display: flex;
  padding: 12px;

  .room-view {
    height: 100%;
    width: 100%;
    font-size: 28pt;
  }
}

mat-card-content {
  font-size: 15pt;
  margin-bottom: 10px;
}

.description {
  width: 60%;
}

.header {
  text-align: center;
}

mat-divider {
  position: relative !important;
}

.options {
  display: flex;
  flex-direction: column;
  .option {
    display: flex;
    align-items: center;
    margin: 10px;

    mat-icon {
      font-size: 30px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 500px) {
  .description {
    width: 100%;
  }
}
