<mat-card *ngIf="room$ | async as room" class="room-view">
  <h3 class="header">{{'COMMON.ROOM' | translate}} : {{room.name}}</h3>

  <mat-card-content>
    <span>{{'ROOMS_MANAGEMENT.SEATS-NUM' | translate}} : {{room.seats}}</span>
    <div class="options">
      <mat-divider></mat-divider>
      <div class="option">
        <mat-icon *ngIf="room.whiteboard; else noBoard">check_circle</mat-icon>
        <ng-template #noBoard>
          <mat-icon>radio_button_unchecked</mat-icon>
        </ng-template>
        <span>{{'ROOMS_MANAGEMENT.WHITEBOARD' | translate}}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="option">
        <mat-icon *ngIf="room.projector; else noProj">check_circle</mat-icon>
        <ng-template #noProj>
          <mat-icon>radio_button_unchecked</mat-icon>
        </ng-template>
        <span>{{'ROOMS_MANAGEMENT.PROJECTOR' | translate}}</span>
      </div>
    </div>

    <mat-form-field appearance="outline" class="description">
      <textarea readonly cdkTextareaAutosize cdkAutosizeMaxRows="10" matInput>{{room.description}}</textarea>
    </mat-form-field>
  </mat-card-content>

  <table *ngIf="roomReservations.data.length > 0" mat-table [dataSource]="roomReservations">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>{{'COMMON.DATE' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">{{reservation.date | date: 'dd.MM.yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="timePeriod">
      <th mat-header-cell *matHeaderCellDef>{{'COMMON.TIME' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        {{reservation.start | date: 'HH : mm'}} - {{reservation.end | date: 'HH : mm'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="creatorName">
      <th mat-header-cell *matHeaderCellDef>{{'MEETINGS.CREATOR_NAME' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">{{reservation.creatorName}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let reservation">
        <button (click)="cancelMeeting(reservation)" *ngIf="authService.userData.role === 'ADMIN'"
                mat-icon-button color="warn" [matTooltip]="'ROOMS_MANAGEMENT.CANCEL_MEETING' | translate">
          <mat-icon>free_cancellation</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="goBack()">{{'COMMON.BACK' | translate}}</button>
    <button mat-raised-button (click)="openBookingDialog()" color="primary">{{'COMMON.BOOK' | translate}}</button>
  </mat-card-actions>
</mat-card>
