/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  font-size: 13pt !important;
}

mat-card-content, mat-dialog-content {
  overflow: initial !important;
}

mat-sidenav-content {
  overflow-x: hidden !important;
}
