:host, mat-dialog-actions {
  font-size: 15pt;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5%;
}

mat-hint {
  color: #f44336;
}

.description {
  width: 50%;
}

@media (max-width: 500px) {
  mat-form-field, .description {
    width: 100%;
  }
}
