:host, mat-dialog-actions {
  font-size: 15pt;
}

.mat-dialog-content {
  max-height: fit-content;
}

.users-table {
  width: 100%;
}

mat-checkbox {
  margin-right: 10px;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5%;
}

mat-form-field {
  margin-top: 20px;
}

mat-hint {
  color: #f44336;
}

.description {
  width: 50%;
  height: fit-content;
}

@media (max-width: 500px) {
  mat-form-field, .description {
    width: 100%;
  }
}
